[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pytest = "*"
pynput = "*"
rumps = "*"
appjar = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
